body {
font-family: Arial;
background:#111;
color:white;
text-align:center;
}

header {
padding:40px;
background:#000;
}

section {
margin:40px;
}

ul {
list-style:none;
padding:0;
}

li {
padding:10px;
}
